.user-container{
    background: #e6b4b4;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

#user-image{
    /* height: 10%; */
    width: 10%;
    border-radius: 30%;
}